{
  "extends": "eslint:recommended",
  "rules": {
    "no-prototype-builtins": "off",
    "no-unused-vars": "off",
    "no-redeclare": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  }
}
